{{extend "base.html"}}  

{{block content}}

{{if hasattr(request, 'user') and request.user:}}
欢迎{{=request.user.username}} <a href="/logout">退出</a>
{{else:}}
<a href="/register"> 注册</a> <a href="/login">登录</a>
{{pass}}
<hr>

{{if hasattr(request, 'user') and request.user:}}
{{<<form}}
<hr>
{{pass}}

    {{for n in blog:}}
	<div class="row show-grid">

	  <div class="span2 offset1">
		<div class="alert alert-info">{{=n.username}}说:</div>
          </div>

	  <div class="span6">
	     <div class="well">
	  	<div class="alert alert-message">{{=n.title}}</div>
	  	<div class="alert alert-success">{{=n.content}}</p>{{=n.datetime}}</div>
     
	     </div>
           </div>
	</div>
    {{pass}}

{{end}}
